section#bangabhavan
	div.container
		div.center.wow.fadeInDown
			h2 Who we are?
			p.lead This organization always does the effort to feel home away from home especially for the Bengalis who are far away from their near and dear once. The main building in Banga Bhavan where we not only celebrate different occasion but also helps to educate the next generation about our rich culture. 
		div.row
				div.about
					div.col-md-6.col-sm-6.col-xs-12.wow.fadeInDown(data-wow-duration="1000ms" data-wow-delay="600ms")
						div.about-wrap
							h2 Banga Bhavan
							p.lead The HEART of BAGC, somehing related to Banga Bhavan.Build on trust and believe.Where culture meets with hetitage.A home away from home.
						div.about-wrap
							blockquote 
								h2 "Coming together is a beginning. Keeping together is progress. Working together is success."
								p
									small Henry Ford
							p.lead Community that helps you in every need.Words cannot express my gratitude towards my team and the large number of volunteers without whose tireless efforts, this mega event would not be possible. However much I would like to, I will not be naming volunteers individually. We will be publishing a list of volunteers on the BAGC website.
					div.col-md-6.col-sm-6.col-xs-12.wow.fadeInDown(data-wow-duration="1000ms" data-wow-delay="600ms")
						img.img-responsive.wow.fadeInRight(data-wow-duration="1000ms" data-wow-delay="600ms" src="images/bagc/people.jpg")