section.team#Committee
	div.container
			div.center.wow.fadeInDown
				h2 Team BAGC
						blockquote.h3 “T- Together E- Everyone A- Achieves M- More”
							p
								small.lead Chambless 
						div.row
							div.col-md-4.col-sm-6.col-xs-12
								div.single-profile-top.wow.fadeInDown(data-wow-duration="1000ms" data-wow-delay="300ms")
									div.media
										div.pull-left
											img.img-responsive(src="images/bagc/team/1.jpg")
										div.media-body
											h4 Batman
											h5 Title
											ul.social_icons
												li
													a(href="#")
														i.fa.fa-facebook
												li
													a(href="#")
														i.fa.fa-twitter
												li
													a(href="#")
														i.fa.fa-google-plus
									p.lead Some description about person, social links can also be added here, for individual profiles.
							div.col-md-4.col-sm-6.col-xs-12.col-md-offset-2
								div.single-profile-top.wow.fadeInDown(data-wow-duration="1000ms" data-wow-delay="300ms")
									div.media
										div.pull-left
											img.img-responsive(src="images/bagc/team/1.jpg")
										div.media-body
											h4 Batman
											h5 Title
											ul.social_icons
												li
													a(href="#")
														i.fa.fa-facebook
												li
													a(href="#")
														i.fa.fa-twitter
												li
													a(href="#")
														i.fa.fa-google-plus
									p.lead Some description about person, social links can also be added here, for individual profiles.
						div.row.team-bar
							div.first-one-arrow.hidden-xs
								hr							
							div.first-arrow.hidden-xs
								hr
								i.fa.fa-angle-up
							div.second-arrow.hidden-xs
								hr
								i.fa.fa-angle-down
							div.third-arrow.hidden-xs
								hr
								i.fa.fa-angle-up
							div.fourth-arrow.hidden-xs
								hr
								i.fa.fa-angle-down
						div.row.clearfix
							div.col-md-4.col-sm-6.col-md-offset-2
								div.single-profile-bottom.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="600ms")
									div.media
										div.pull-left
											img.img-responsive(href="#" src="images/bagc/team/2.jpg") 
										div.media-body
											h4 Super Man
											h5 Title
											ul.social_icons
												li
													a(href="#")
														i.fa.fa-facebook
												li
													a(href="#")
														i.fa.fa-twitter
												li
													a(href="#")
														i.fa.fa-google-plus
							div.col-md-4.col-sm-6.col-md-offset-2
								div.single-profile-bottom.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="600ms")
									div.media
										div.pull-left
											img.img-responsive(href="#" src="images/bagc/team/2.jpg") 
										div.media-body
											h4 Super Man
											h5 Title
											ul.social_icons
												li
													a(href="#")
														i.fa.fa-facebook
												li
													a(href="#")
														i.fa.fa-twitter
												li
													a(href="#")
														i.fa.fa-google-plus