section.event-area#events
	div.container
		div.center
			h2 Upcoming events
			p.lead Some description about upcoming events.
		div.events.text-center
			div.row
				div.col-sm-6.col-xs-12.event.wow.fadeInDown
					div.well
						h1.heading-two Jan 23
						img.img-responsive.img-newevent.wow.fadeInLeft(src="images/bagc/upcomingevents/2.jpg")
				div.col-sm-6.col-xs-12.event.wow.fadeInDown
					div.well
						h1.heading-one Feb 13
						img.img-responsive.img-newevent.wow.fadeInRight(src="images/bagc/upcomingevents/1_1.png")
				
	div.container
		div.center 
			h2 Past events
			p.lead Some description/caption about events.
		div.events.text-center
			div.row
				div.col-sm-4.event.wow.fadeInDown
					div.well.img-eventdiv
						h1.heading-one July 25
						p.lead A dance performace by local kids a group of 50 kids participated on Indian classical dance program.
						img.img-responsive.img-pastevent.wow.fadeInUp(src="images/bagc/events/1.jpg")
				div.col-sm-4.event.wow.fadeInDown
					div.well.img-eventdiv
						h1.heading-two August 17
						p.lead A magical nights by Great indian classical singer Kaushiki.
						img.img-responsive.img-pastevent.wow.fadeInUp(src="images/bagc/events/2.jpg")
				div.col-sm-4.event.wow.fadeInDown
					div.well.img-eventdiv
						h1.heading-one Nov 15
						p.lead Singer of Sa Re Ga Ma Pa campion Debojit Saha.
						img.img-responsive.img-pastevent.wow.fadeInUp(src="images/bagc/events/3.jpg")
				div.col-sm-4.event.wow.fadeInDown
					div.well.img-eventdiv
						h1.heading-two August 17
						p.lead A dance performace by local kids a group of 50 kids participated on Indian classical dance program.
						img.img-responsive.img-pastevent.wow.fadeInUp(src="images/bagc/events/4.jpg")