section.event-area#events
	div.container
		div.center
			h2 Upcoming events
			p.lead Some description about upcoming events.
		div.events.text-center
			div.row
				div.col-sm-6.col-xs-12.event.wow.fadeInDown
					div.well
						h1.heading-two Jan 23
						img.img-responsive.img-newevent.wow.fadeInLeft(src="images/bagc/upcomingevents/2.jpg")
				div.col-sm-6.col-xs-12.event.wow.fadeInDown
					div.well
						h1.heading-one Feb 13
						img.img-responsive.img-newevent.wow.fadeInRight(src="images/bagc/upcomingevents/1_1.png")
				
	