section.event-area#events
	div.container
		div.center 
			h2 Upcoming events
			p.lead Welcome to fun-filled events. Some more about events.
		div.events.text-center
			div.row
				div.col-sm-4.event.wow.fadeInDown
					div.well
						h1.heading-one July 25
						p.lead A dance performace by local kids a group of 50 kids participated on Indian classical dance program.
						img.img-responsive.wow.fadeInUp(src="images/bagc/events/1.jpg")
				div.col-sm-4.event.wow.fadeInDown
					div.well
						h1.heading-two August 17
						p.lead A magical nights by Great indian classical singer Kaushiki.
						img.img-responsive.wow.fadeInUp(src="images/bagc/events/2.jpg")
				div.col-sm-4.event.wow.fadeInDown
					div.well
						h1.heading-one Nov 15
						p.lead Singer of Sa Re Ga Ma Pa campion Debojit Saha.
						img.img-responsive.wow.fadeInUp(src="images/bagc/events/3.jpg")
				div.col-sm-4.event.wow.fadeInDown
					div.well
						h1.heading-two August 17
						p.lead A dance performace by local kids a group of 50 kids participated on Indian classical dance program.
						img.img-responsive.wow.fadeInUp(src="images/bagc/events/4.jpg")