footer.footer.midnight-blue#footer
    div.container
        div.row
            div.col-sm-6
                &copy;
                a(href="/" title="Bengali Association of Greater Chicago") BAGC All Rights Reserved.
            div.col-sm-6
                p.pull-right
                    span @Ajay Kaushik