section.no-margin#main-slider
	div.carousel.slide>
		ol.carousel-indicators
			li.active(data-target="#main-slider" data-slide-to="0"
			li(data-target="#main-slider" data-slide-to="1"
			li(data-target="#main-slider" data-slide-to="2"
		div.carousel-inner
			div.item.active
				div.container
					div.row.slide-margin
						div.col-sm-6.col-xs-12
							h1.animation.animated-item-1 Bengali Association of Greater Chicago
							div.animation animated-item-2
								img.img-responsive(src="images/bgac/banner.jpg"
							h2.animation.animated-item-3 Celeberating 50 Years of Bengali Culture and Heritage
							div.well.animation.animated-item-4
								p.wow fadeInDown(style="font-weight:bold;") We are a Chicago based non-profit organization established in 1974. Banga Bhavan, located centrally in Chicago land, is dedicated in promoting literature, art and cultural heritage of Bengal. We are a strong community where we socialize together, celebrate festival together and work together. This website is a medium by which we can continue to enhance and foster out community's togetherness.
						
						div.col-sm-6 col-xs-12
							div.animation.animated-item-1
								h2.animation Warm welcome from us
								div.embed-responsive embed-responsive-16by9
									iframe.embed-responsive-item( width="100%" height="300px" src="//www.youtube.com/embed/CJE5-08gOw4" allowfullscreen="true)
								