section.no-margin#main-slider
	div.carousel.slide
		ol.carousel-indicators
			li.active(data-target="#main-slider" data-slide-to="0")
			li(data-target="#main-slider" data-slide-to="1")
			li(data-target="#main-slider" data-slide-to="2")
		div.carousel-inner
			div.item.active(style="background-image: url(images/bagc/bg.png)")
				div.container
					div.row.slide-margin.mainheader
						div.col-sm-12.col-cs-12
							h1.center.wow.fadeInDown Bengali Association of Greater Chicago
					div.row.slide-margin
						div.col-sm-6.col-xs-12
							h2.animation.animated-item-2 Celeberating 50 Years of Bengali Culture and Heritage
							div.animation.animated-item-3
								img.img-responsive(src="images/bagc/banner.jpg")
							
							
						
						div.col-sm-6.col-xs-12
							div.animation.animated-item-1.woo.fadeInRight
								h2.animation Message for you
								div.embed-responsive.embed-responsive-16by9
								iframe.embed-responsive-item(width="100%",height="300px",src="//www.youtube.com/embed/CJE5-08gOw4",allowfullscreen="true")
									