section#main
	div.container
		div.row.wow.fadeInDown
			h1.center Bengali Association of Greater Chicago
		div.row.wow.fadeInDown
			div.carousel.slide.carousel-fade(data-ride="carousel")#main-slider
				ol.carousel-indicators
					li.active(data-target="#main-slider" data-slide-to="0")
					li(data-target="#main-slider" data-slide-to="1")
					li(data-target="#main-slider" data-slide-to="2")
					li(data-target="#main-slider" data-slide-to="3")
				div.carousel-inner(role="listbox")
					div.item.active
						img.img-responsive.img-newevent(src="images/bagc/home/BAGC.png")
					div.item
						img.img-responsive.img-newevent(src="images/bagc/home/2016 Mission.png")
					div.item
						img.img-responsive.img-newevent(src="images/bagc/upcomingevents/1.png")
					div.item
						img.img-responsive.img-newevent(src="images/bagc/upcomingevents/2.jpg")
							
				a.left.hidden-xs(href="#main-slider" data-slide="prev")
					i.fa.fa-chevron-left
				a.right.hidden-xs(href="#main-slider" data-slide="next")
					i.fa.fa-chevron-right

		if banners								
			div.row
				each banner in banners
					div.col-sm-2.col-xs-4(prettyp)
						div.recent-work-wrap.wow.fadeInLeft
							img.img-event.img-responsive.img-banner(src="#{banner}" alt="")
							div.overlay
								a.preview(style="width:100%" href="#{banner}" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye