section.no-margin#main-slider
	div.carousel.slide
		
		div.carousel-inner(style="position:relative")
			div.item.active.bgdiv
			div.container(style="position:absolute;z-index:1000;top:0;left:0")
					div.row.slide-margin.mainheader
						div.col-sm-12.col-cs-12
							h1.center.wow.fadeInDown Bengali Association of Greater Chicago
					div.row.slide-margin.mainheader
						div.col-sm-6.col-xs-12
							h2.animation.animated-item-1.wow.fadeIn Celeberating 50 Years of Bengali Culture and Heritage
							p.lead.animation.animated-item-2.wow.fadeIn We are a Chicago based non-profit organization established in 1974. Banga Bhavan, located centrally in Chicago land, is dedicated in promoting literature, art and cultural heritage of Bengal. We are a strong community where we socialize together, celebrate festival together and work together. A warm welcome from us.
					div.row.slide-margin.mainheader
						div.col-sm-6.col-xs-12
							div.animation.animated-item-3.wow.fadeIn
								div.embed-responsive.embed-responsive-16by9
								iframe.embed-responsive-item(width="75%",height="200px",src="//www.youtube.com/embed/CJE5-08gOw4",allowfullscreen="true")
					div.row.slide-margin
						div.row.slide-margin.mainheader
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInLeft
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/1.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/1_2.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInLeft
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/2.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/2.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInLeft
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/3.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/3.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInRight
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/4.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/4.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInRight
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/5.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/5.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInRight
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/6.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/6.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
						
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInLeft
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/7.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/7.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInLeft
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/8.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/8.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInLeft
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/9.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/9.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInRight
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/10.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/10.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInRight
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/11.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/11.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInRight
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/12.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/12.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
					
						div.col-sm-2.col-xs-4(prettyp)
							div.recent-work-wrap.wow.fadeInRight
								img.img-event.img-responsive.img-banner(src="images/bagc/banners/13.png" alt="PMG")
								div.overlay
									a.preview(style="width:100%" href="images/bagc/banners/13.png" rel="prettyPhoto[pp_banner]")
												i.fa.fa-eye
																			