section#main
	div.container
		div.row
			h1.center.wow.fadeInDown Bengali Association of Greater Chicago
		div.row
			div.carousel.slide.carousel-fade(data-ride="carousel")#main-slider
				ol.carousel-indicators
					li.active(data-target="#main-slider" data-slide-to="0")
					li(data-target="#main-slider" data-slide-to="1")
					li(data-target="#main-slider" data-slide-to="2")
					li(data-target="#main-slider" data-slide-to="3")
				div.carousel-inner(role="listbox")
					div.item.active
						img.img-responsive.img-newevent.wow.fadeIn(src="images/bagc/home/BAGC_Event.png")
					div.item.wow
						img.img-responsive.img-newevent.wow.fadeIn(src="images/bagc/home/2016 Mission_1.png")
					div.item.wow
						img.img-responsive.img-newevent.wow.fadeIn(src="images/bagc/upcomingevents/BG.png")
					div.item.wow
						img.img-responsive.img-newevent.wow.fadeIn(src="images/bagc/upcomingevents/2.png")
							
				a.prev.hidden-xs(href="#main-slider" data-slide="prev")
					i.fa.fa-chevron-left
				a.next.hidden-xs(href="#main-slider" data-slide="next")
					i.fa.fa-chevron-right

										
		div.row
			
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInLeft
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/1_1.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/1_1.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInLeft
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/2_1.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/2_1.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInLeft
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/3_1.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/3_1.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInRight
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/4_1.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/4_1.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInRight
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/5_1.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/5_1.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInRight
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/6_1.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/6_1.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
			
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInLeft
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/7_1.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/7_1.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInLeft
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/8_1.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/8_1.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInLeft
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/9_1.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/9_1.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInRight
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/10_1.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/10_1.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInRight
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/11_1.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/11_1.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInRight
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/12_1.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/12_1.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
		
			div.col-sm-2.col-xs-4(prettyp)
				div.recent-work-wrap.wow.fadeInRight
					img.img-event.img-responsive.img-banner(src="images/bagc/banners/13.png" alt="PMG")
					div.overlay
						a.preview(style="width:100%" href="images/bagc/banners/13.png" rel="prettyPhoto[pp_banner]")
									i.fa.fa-eye
													