<div class="container">
    <div class="well">
        <div class="row">
            <fieldset>
                <legend>Events</legend>
                <div class="col-md-3">
                    <div class="panel panel-primary  animated-class" ng-repeat="event in eventCtrl.events">
                        <div class="panel-heading active">
                            {{event.eventYear}}
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a ng-repeat="eventItem in event.events" class="list-group-item  animated-class" href="#/events/{{event.eventYear}}/{{eventItem.name}}/{{eventItem.id}}">
                                    <span class="list-group-item-text">{{eventItem.name}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9" ui-view autoscroll='true' class="container-fluid view">
                    <div class="recent-work-wrap">
                        <img class="img-event img-responsive" src="images/bgac/dance.jpg" style="-webkit-filter: blur(10px);
    filter: blur(10px);">
                        </img>
                        <div class="mainoverlay">
                            <div class="center bg-info">
                                <h1>Welcome to fun world...</h1>
                                </p class="text-primary">Check out event links for more..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
