<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <!-- <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>  -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <h1 class="animation animated-item-1">Bengali Association of Greater Chicago</h1>
                            <div class="animation animated-item-2">
                                <img src="http://www.bagc.net/bagc/themes/ability/images/salamander1/image-1.jpg" class="img-responsive">
                            </div>
                            <h2 class="animation animated-item-3">Celeberating 50 Years of Bengali Culture and Heritage</h2>
                            <div class="well animation animated-item-4">
                                <p style="font-weight:bold;" class="wow fadeInDown">We are a Chicago based non-profit organization established in 1974. Banga Bhavan, located centrally in Chicago land, is dedicated in promoting literature, art and cultural heritage of Bengal. We are a strong community where we socialize together, celebrate festival together and work together. This website is a medium by which we can continue to enhance and foster out community's togetherness.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="animation animated-item-1">
                                <h2 class="animation">Warm welcome from us</h2>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/CJE5-08gOw4" allowfullscreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
