<!DOCTYPE html5>
<html>

<head>
    <title>BAGC | Bengali Association of Greater Chicago</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="BAGC" />
    <meta name="author" content="Ajay Kaushik" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/animate.min.css" rel="stylesheet" />
    <link href="css/prettyPhoto.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <!-- [if lt IE 9]-->
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <!-- [endif]-->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>
</head>

<body class="homepage">
    <header id="header">
        <nav role="banner" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" title="Go to BAGC home page" class="navbar-brand">BAGC</a></div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="#">Home</a><a data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="#about">About us</a><a data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="#">Events</a><a data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="#">Membership</a><a data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="#">Photo Gallery</a><a data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div style="background-image: url(images/bagc/bg.png)" class="item active">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6 col-xs-12">
                                <h1 class="animation animated-item-1">Bengali Association of Greater Chicago</h1>
                                <div class="animation animated-item-2"><img src="images/bagc/banner.jpg" class="img-responsive" /></div>
                                <h2 class="animation animated-item-3">Celeberating 50 Years of Bengali Culture and Heritage</h2></div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="animation animated-item-1">
                                    <h2 class="animation">Warm welcome from us</h2>
                                    <div class="embed-responsive embed-responsive-16by9"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div data-wow-duration="1000ms" data-wow-delay="600ms" class="center wow fadeInDown">
                <p class="lead">We are a Chicago based non-profit organization established in 1974. Banga Bhavan, located centrally in Chicago land, is dedicated in promoting literature, art and cultural heritage of Bengal. We are a strong community where we socialize together, celebrate festival together and work together. This website is a medium by which we can continue to enhance and foster out community's togetherness.</p>
            </div>
        </div>
    </section>
    <section id="feature">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Features</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>Fresh and Clean</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>Retina ready</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>Easy to customize</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-leaf"></i>
                            <h2>Adipisicing elit</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2>Sed do eiusmod</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>Labore et dolore</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                </div>
                <!--/.services-->
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <!--/#feature-->
    <footer id="footer" class="footer midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">&copy;<a href="/" title="Bengali Association of Greater Chicago">BAGC</a>
                    <All>Rights Reserved.</All>
                </div>
                <div class="col-sm-6">
                    <p class="pull-right"><span>@Ajay Kaushik</span></p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
